<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@drawable/amrita_logo"
        android:label="QuickNotes"
        android:roundIcon="@drawable/amrita_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- FlashActivity as the launcher activity -->
        <activity
            android:name=".FlashActivity"
            android:theme="@style/FlashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- HomeActivity, which should be shown after FlashActivity -->
        <activity android:name=".HomeActivity"
            android:exported="true" />

        <!-- NoteCreationActivity -->
        <activity android:name=".NoteCreationActivity"></activity>

        <!-- MainActivity (optional, if needed) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>
</manifest>
